# Python
venv/
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

.env

# ERP export files
inventory-*.xlsx
suppliers_list*.xlsx
production_run_templates*.xlsx
